# ESP-IDF
build/
sdkconfig
sdkconfig.old
dependencies.lock
managed_components/

# CMake / Ninja
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
compile_commands.json
build.ninja
.ninja_log
.ninja_deps

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Python
__pycache__/
*.pyc

# Backup / temp
*~
*.swp
